.login_wrap {
  background-color: #222;
  display: flex;
  height: 100vh;
  align-items: center;
}

.login_wrap form {
  display: flex;
  width: 320px;
  padding: 60px 25px 80px;
  margin: 50px auto;
  background: #fee500;
  display: flex;
  flex-direction: column;
}

svg {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 40px;
  align-self: center;
  transform-style: preserve-3d;
}
